:root {

  --primary-color: #7367f0;

  --secondary-color: #82868b;

  --text-color: #2f2f2f;

  --muted-color: #777777;

  --white: #ffffff;

  --black: #000000;

  --border-color: #eeeeee;

  --container-width: 1320px;
  

}